@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  font: inherit;
  background: white;
  cursor: pointer;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
}

input {
  margin-bottom: 15px;
  height: auto;
  padding: 5px;
  font-size: 20px;
}

button {
  font: inherit;
  border: 1px solid #0b83ae;
  color: #0b83ae;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover,
button:active {
  background-color: #0b83ae;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}